* {
  box-sizing: border-box;
}

.container {
  padding: 1rem;
}

.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto auto;
}

.grid-container .row {
  display: flex
}

.text-blue {
  color: #0897f7;
}

.text-center {
  text-align: center;
}

.flex {
  display: flex;
}

.justify-center {
  justify-content: center;
}

.cell {
  width: 70px;
  height: 70px;
  border: 1px solid rgb(97, 97, 97);
  border-radius: 4px;
  margin: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
}

.player-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1rem;
}
.player-container > * + * {
  margin-left: 1rem;
}
.player-input {
  width: 12rem;
  height: 2rem;
  padding: 1rem;
  text-transform: uppercase;
  font-size: 30px;
  text-align: center;
  font-weight: bold;
}

.player-button {
  height: 2rem;
  padding: 1rem;
  justify-content: center;
  align-items: center;
  display: flex;
  background-color: #d3d6da;
  border: none;
  border-radius: 4px;
  font-weight: 900;
  font-size: 18px;
}

.letter-counter-container {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.letter-counter-container > * + * {
  margin-left: 1rem;
}

.letter-counter-container div {
  background-color: #787c7e;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: bold;
  text-transform: uppercase;
}

@media (max-width: 500px) {
  .cell {
    width: 40px;
    height: 40px;
  }
  .letter-counter-container div {
    width: 20px;
    height: 20px;
  }
}